[submodule "spring-boot-architecture"]
	path = spring-boot-architecture
	url = git@github.com:boanca-tudor/spring-boot-architecture.git
[submodule "quarkus-architecture"]
	path = quarkus-architecture
	url = git@github.com:boanca-tudor/quarkus-architecture.git
